# -------------------------------------------------
# ALIAS
alias c='clear'
alias ls='eza -a --icons=always'
alias ll='eza -al --icons=always'
alias lt='eza -a --tree --level=1 --icons=always'
alias cat='bat'
alias v=vim='$EDITOR'
alias grep='grep --color=auto'
alias sudo='sudo -E'
alias xrdp='xfreerdp3 /tls:seclevel:0 /size:1600x900 /u:adminrb /d:aytotias '
alias xrdph='xfreerdp3 /tls:seclevel:0 /size:1440x900 /u:administrador '

