# -------------------------------------------------
# ALIAS
alias c='clear'
alias ls='eza -a --icons=always'
alias ll='eza -al --icons=always'
alias lt='eza -a --tree --level=1 --icons=always'
alias cat='bat'
alias v=vim='$EDITOR'
alias grep='grep --color=auto'
alias sudo='sudo -E'

